/* Soorten */
.types_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.A_div{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #bfddd7;
    box-shadow: 4px -40px 60px 5px #95cdcd inset;
    margin-bottom: 20px;
}

/* ANIMATIES */
.inatt{
    animation: spacing 2.4s ease infinite ;
}

.impuls{
    animation: hyper 1s ease infinite;
}

.comned{
    animation: combined 2.5s ease-in infinite;
}

@keyframes spacing {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  40%{
    opacity: 1.2;
  }

  60%{
    opacity: 1.5;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }   
}

@keyframes hyper{
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes combined{
  0% {
    opacity: 0;
    transform: translateY(-20px);
    }
    30%{   
        opacity: 1;
        transform: scale(1.2);
    }
    40%, 60% {  
         transform: rotate(-20deg) scale(1.2);
         opacity: 1;
        }
    50% { 
        transform: rotate(20deg) scale(1.2); 
        opacity: 1;
    }
    70% { 
        transform: rotate(0deg) scale(1.2); 
        opacity: 1;
        
    }
    100% { 
        transform: scale(1);
        opacity: 0;
        border-radius: 50px;
     }
}
/* ======================================================================= */
