/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

/*------------------------------------*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7eeef;
  min-height: 100dvh;
  overflow-x: hidden;
}

p {
  color: #0f172b;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1em 0;
}

/*------------------------------------*/
/*------Nav_bullshit------*/
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  color: #e7eeef;
  padding: 10px 20px;
  background-color: #36747d;
  border-bottom: 2px solid rgba(119, 141, 141, 0.48);
  position: relative;
  z-index: 4;
  justify-content: space-between;
  text-align: center;
}

.header {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav_div {
  display: flex;
}

.nav_btn {
  display: flex;
  align-items: center;
  background-color: #26eac600;
  font-size: 16px;
  border-right: #95cdcd solid 4.5px;
  padding: 14px 16px;
  margin-left: 20px;

  a {
    text-decoration: none;
    color: #f3f6f6;
  }
}

.random_tx {
  display: none;
  overflow: hidden;
}

.btn1 {
  width: 114px;
  justify-items: center;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.info_btn {
  display: flex;
  align-items: center;
  background-color: #26eac600;
  font-size: 16px;
  color: #f3f6f6;
  border-right: #95cdcd solid 4.5px;
  padding: 14px 16px;
  cursor: pointer;
  margin-left: 20px;
}

.btn_oefen {
  display: flex;
  align-items: center;
  background-color: #5fa699;
  color: #f3f6f6;
  font-size: 16px;
  padding: 14px 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4.1px -1px rgba(15, 23, 43, 0.48);

  margin-left: 11px;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: rgba(149, 205, 205, 0.38);
  backdrop-filter: blur(2.05px);
  border-radius: 10px 10px 20px 20px;
  overflow: hidden;
  min-width: 160px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #36747d;
  z-index: 4;
}

.drop-content a {
  color: #0f172b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.drop-content a:hover {
  background-color: #47c5ab7e;
}

.dropdown:hover .drop-content {
  display: block;
}

/*------------------------------------*/
/* Contents */
/* Hero */

.cont_hero {
  position: relative;
  height: calc(100dvh - 10em);
  margin: 0px 50px;
}

.hero_text {
  position: relative;
  height: 100%;
  background-color: #f3f6f6;
  width: 100%;
  border-radius: 0px 0px 50px 50px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* hero text */
.main_text {
  font-family: "Shrikhand", serif;
  font-size: calc(7vw + 1rem);
  color: #34bea2;
}

.subheader {
  font-family: "Fahkwang", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}

/* Section 1 */
.sec1 {
  position: relative;
  height: 25%;
  background-color: #f3f6f6;
  margin: 50px 50px 0;
  padding: 30px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.para_header {
  font-family: "Shrikhand", serif;
  color: #36747d;
  font-size: 1.7rem;
}

.sec1 p {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: 0.9em;
  padding: 1em 0;
}
/* ======================================================================= */
/* Section 2 */
.sec2 {
  position: relative;
  height: 50%;
  background-color: #f3f6f6;
  margin: 50px;
  padding: 30px;
}

.sec2 {
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* Soorten */
.types_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.A_div{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #bfddd7;
    box-shadow: 4px -40px 60px 5px #95cdcd inset;
    margin-bottom: 20px;
}

.sec_imgs {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* ADHD Info's */
.info_div{
    width: 100%;
    display: flex;
    margin-left: 30px;
    gap: 20px;
}

.divinfo, .comb_info, .hype_info {
    width: min(60px 100%);
    padding: 1.5em;
    color: black;
    cursor: pointer;
    transition: 150ms ease;
    display: grid;
    grid-template-rows: 1em 0fr;
    justify-items: start;
}



/* ------------------------------------------- */
.infoheader{
 font-family: "Fahkwang", sans-serif;
  font-weight: 600;
  font-style: normal;
 text-align: center;
 cursor: pointer;
}

.open {
    grid-template-rows: 1em 1fr;}

p {
}


.hide, .hide_com, .hide_hyper{
    overflow: hidden;
}


/* ANIMATIES */
.inatt{
    animation: spacing 2.4s ease infinite ;
}

.impuls{
    animation: hyper 1s ease infinite;
}

.comned{
    animation: combined 2.5s ease-in infinite;
}

@keyframes spacing {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  40%{
    opacity: 1.2;
  }

  60%{
    opacity: 1.5;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }   
}

@keyframes hyper{
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(25deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes combined{
  0% {
    opacity: 0;
    transform: translateY(-20px);
    }
    30%{   
        opacity: 1;
        transform: scale(1.2);
    }
    40%, 60% {  
         transform: rotate(-20deg) scale(1.2);
         opacity: 1;
        }
    50% { 
        transform: rotate(20deg) scale(1.2); 
        opacity: 1;
    }
    70% { 
        transform: rotate(0deg) scale(1.2); 
        opacity: 1;
        
    }
    100% { 
        transform: scale(1);
        opacity: 0;
        border-radius: 50px;
     }
}
/* ------------------------------------------- */
/* SEction  & 4 */
.sec3, .sec4 {
  position: relative;
  height: 70%;
  background-color: #f3f6f6;
  margin: 50px;
  padding: 30px;
}

.sec3 p, .sec4 p{
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5em 0;
}


.subhead_txt{
  font-family: "Fahkwang", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  margin: 0.6em 0;
  font-size: 1.13em;
  text-decoration: underline;
}

/* Footer */

.footer {
  position: relative;
  background-color: #34bea2;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 30px;
  margin: 10px;
}



/* ======================================================================= */
