.img_div {
  border-radius: 60px 10px 50px 0px;
  background-color: #bfddd7;
}

.sec_imgs img {
  width: 200px;
  height: auto;
  display: inline-block;
  padding: 20px;
  border-radius: 60px 10px 50px 0px;
}

/* Section 3 */
.sec3 {
  position: relative;
  height: 50%;
  background-color: #f3f6f6;
  margin: 50px;
  padding: 30px;
}

.sec3 p {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1em 0;
}

/* Section 4 */
.sec4 {
  position: relative;
  height: 70%;
  background-color: #f3f6f6;
  margin: 50px;
  padding: 30px;
}

.txt_block {
  background-color: #95cdcd;
  padding: min(5em, 8%);
  border-radius: 186px 186px 10px 10px;
}

.sec4 a {
  text-decoration: none;
  color: #0f172b;
}

.sec4_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2em;
  padding: 1em 0;
}

/* Footer */

.footer {
  position: relative;
  background-color: #34bea2;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 30px;
  margin: 10px;
}
